@keyframes bounceAndHighlightAnimation {
    0%, 100% {
        transform: translateY(0); /* Начальное и конечное положение без изменений */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень в нормальном состоянии */
        opacity: 1; /* Полная непрозрачность */
    }
    25% {
        transform: translateY(-6px); /* Подпрыгивание вверх */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Увеличенная тень */
        opacity: 0.5; /* Слегка уменьшенная непрозрачность */
    }
    50% {
        transform: translateY(0); /* Возврат в исходное положение */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Возврат к исходной тени */
        opacity: 1; /* Возврат к полной непрозрачности */
    }
    75% {
        transform: translateY(-3px); /* Меньшее подпрыгивание */
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Слегка увеличенная тень */
        opacity: 0.5; /* Слегка уменьшенная непрозрачность */
    }
}

.bounceAndHighlight {
    animation: bounceAndHighlightAnimation 2s ease-in-out infinite;
    transform: translate(-50%, -50%); /* Центрирование дива */
}

#animatedDiv {
    z-index: 10000;
    position: fixed;
}


#downloadButton {
    border-radius: 50%;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    background-color: #FCFCFD;
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    font-size: 18px;
}

#downloadButton:hover {
    transform: translateY(-2px);
    animation: none; /* Отключаем анимацию при наведении, чтобы кнопка оставалась статичной */
}

.gif {
    width: 100%;
    border-radius: 50%;
}


.button-vk, .button-reddit {
    top: 10px;
    left: 170px;
}

.button-youtube {
    top: 10px;
    left: 180px;
}

.button-tiktok {
    top: 15px;
    left: 170px;
}

.button-ok {
    top: 5px;
    left: 180px;
}

.button-rutube {
    /* Убедитесь, что это размещение кнопки для Rutube действительно отличается от других */
    top: 20px;
    left: 230px;
}
